<!DOCTYPE html>

<head lang="en">
    <title>
        Bisa Humad Jain Samaj: Search
    </title>
</head>
<body>
    <h1 align="center">Bisa Humad Jain Samaj: Search</h1>
    <hr>
    <form action="/" method="post">
        <h2>Search By Name</h2>
        First name:  <input style="width: 10%;" name="first" placeholder="First name" type="text"> <p></p>
        Middle name: <input style="width: 10%;" name="middle" placeholder="Middle name" type="text"> <p></p>
        Last name:   <input style="width: 10%;" name="last" placeholder="Last name" type="text"> <p></p>
        <input type="Submit" value="Search">
    </form>
    <h1>
        OR
    </h1>
    <form action=/age method="post">
        <h2>Search By Gender and Age</h2>
        Gender:<br>
        <input type="radio" id="male" name="gender" value="M">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="F">
        <label for="female">Female</label><br>
        Age between <input type="text" name="age1" placeholder="Lower bound"> and <input type="text" name="age2" placeholder="Upper bound"> <p></p>
        <input type="Submit" value="Search">
    </form>
    <p>To update your family details (except age), please contact administrator: vjrainuuu@gmail.com</p>
</body>